<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.signal.example">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="com.signal.example.MyApplication">
        <activity android:name="com.signal.example.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name="com.signal.example.keep.GuardService1"
            android:exported="true"
            android:enabled="true"
            android:process=":service1">
        </service>
        <service android:name="com.signal.example.keep.GuardService2"
            android:exported="true"
            android:enabled="true"
            android:process=":service2">
        </service>
        <service android:name="com.signal.example.keep.JobWakeUpService1"
            android:exported="true"
            android:enabled="true"
            android:process=":service1"
            android:permission="android.permission.BIND_JOB_SERVICE">
        </service>
        <service android:name="com.signal.example.keep.JobWakeUpService2"
            android:exported="true"
            android:enabled="true"
            android:process=":service2"
            android:permission="android.permission.BIND_JOB_SERVICE">
        </service>
        <receiver android:name="com.signal.example.keep.BootBroadcast" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="oppo.intent.action.BOOT_COM"/>
            </intent-filter>
        </receiver>

        <receiver android:name="com.signal.example.keep.SystemBroadcast" >
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.PACKAGE_RESTARTED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <!--1像素Activity-->
        <activity android:name="com.signal.example.keep.DemoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|navigation|keyboard"
            android:excludeFromRecents="true"
            android:exported="false"
            android:finishOnTaskLaunch="false"
            android:launchMode="singleInstance"
            android:theme="@style/TranslucentTheme"
            android:taskAffinity=":keep.DemoActivity"
            android:windowIsTranslucent="true" />
    </application>

</manifest>